/* src/styles/index.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 244, 244);
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
  }
  
  /* Add more styles here */
  